<mat-grid-list cols="12" rowHeight="2:1">
  <mat-grid-tile colspan="3"> </mat-grid-tile>
  <mat-grid-tile colspan="6">
    <button mat-raised-button color="primary" routerLink="concepts">Concepts</button>
    <button mat-raised-button color="primary" routerLink="demo">Forms Demo</button>
    <button mat-raised-button color="primary" routerLink="table">Material Table</button>
    <button mat-raised-button color="primary" routerLink="rf">Reactive Forms</button>
    <button mat-raised-button color="primary" routerLink="st">Sai's Task</button>
    <button mat-raised-button color="primary" routerLink="tdf">Template Driven Forms</button>
  </mat-grid-tile>
  <mat-grid-tile colspan="3"> </mat-grid-tile>
</mat-grid-list>
