button {
  margin: 0.5rem;
}

div {
  margin: 1rem;
}

.navbar {
  justify-content: space-between;
}
span {
  margin-right: 1rem;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
  padding: 20px;
}
